body {
  margin-top: 50px;
  background-color: #333;
}

.fibonacci {
  width: 50%;
  margin: auto;
  min-height: 50%;
  box-shadow: 0 8px 10px -5px black;
  background-color: #f8f8f8;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.submit {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: medium;
  border-radius: 10px;
}

button.monochrome-button:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #555;
}

label {
  display: block;
  font-weight: bold;
}
